<div class="modal fade" id="createRecipeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <!-- 3 caixas, cada uma para o usuario escrever o input do nome da receita, ingredientes, e modo de reparo -->
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">Cadastre sua Receita</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label" style="color: black;">Receita:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label" style="color: black;">Ingredientes:</label>
                        <textarea class="form-control" id="message-text" rows="6"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label" style="color: black;">Modo de preparo:</label>
                        <textarea class="form-control" id="message-text" rows="6"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
